<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="description" content="" /> 
    <meta name="Keywords" content="专利检索,商标检索,软件著作权检索,版权检索,知识产权服务,知识产权服务平台"/>
    <meta property="og:title" content="管知网-知识产权管理平台"/>
    <title>管知网-知识产权管理平台</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/indexNew.css"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="../layui/css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.min.css"/>
   <!--  <link rel='shortcut icon' href='img/u2.ico'/> -->
</head>
<body>
	<div style="width:100%;height:60px;position:fixed;top:0px;z-index:99999999;">
			<div class="mobileHead">
				<a href="mobileLogin.html">
					<i class="layui-icon" style="float:right;margin-right:10px;font-size: 14px; color: #fff;border:2px solid #fff;padding:3px 8px;border-radius:4px;">登录</i>
				</a> 
			</div>
			<div class="headBanner">
				<div class="headBanner_head clearFloat">
					<div class="headBanner_head_left">
						<a class="headBanner_head_left_imglogo" href="index.html"><img class="indexlogo" src="../img/logo12.png"/></a>
					</div>
					<div class="headBanner_head_right">
						<div id="username" class="username_index">
		                    <span></span>
		                    <div class="userCenter layui-anim layui-anim-upbit">
		                        <ul>
		                            <li class="li_userCenter_index">个人中心</li>
		                            <li class="li_userAccount_index">我的账户</li>
		                            <li class="li_leavelogin_index">退出登录</li>
		                        </ul>
		                    </div>
		                </div>
						<div class="login_parent login_parentt">
							<ul>
								<li><a class="resnew" href="/auth/mobile/register">注册</a></li>
								<li><a class="loginnew" href="/auth/require">登录</a></li>
							</ul>
						</div>
						<ul>
							<li><a href="shoppingMall/tradingCenter.html">交易</a></li>
							<li><a href="news/news.html">资讯</a></li>
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		<div id='wrap'>
			<div id="part1" class="part part1">
				<div class="headBanner_banner">
					<div class="headBanner_banner_center">
						<div class="headBanner_banner_center_img">
							<img src="../img/gzwtitle.png"/>
						</div>
						<div class="headBanner_banner_center_search">
							 <input type="text" id="" class="search_nav_inp" placeholder="请输入公司名称"/>
							<span id="btn_cha">搜索</span>
						</div>
						<div class="headBanner_banner_center_search_hot">
							<span class="hottitle">热搜：</span>
							<ul>
								<li><span>重庆交通大学</span></li>
								<li><span>重庆医科大学附属永川医院</span></li>
								<li><span>陕西工业职业技术学院</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<div class="part part2">
			<div class="server_wrap">
				<div class="server_wrap_center">
					<h1>
						<span>服务项目</span>
					</h1>
					<div class="server_wrap_center_bottom clearFloat">
						<div
							class="server_wrap_center_bottom_div server_wrap_center_bottom_divd">
							<img class="server_wrap_center_bottom_li" src="../img/sp1.png" /><span>知产咨询</span>
						</div>
						<div
							class="server_wrap_center_bottom_div server_wrap_center_bottom_divd">
							<img class="server_wrap_center_bottom_li" src="../img/sp2.png" /><span>知产检索</span>
						</div>
						<div
							class="server_wrap_center_bottom_div server_wrap_center_bottom_divd">
							<img class="server_wrap_center_bottom_li" src="../img/sp3.png" /><span>知产托管</span>
						</div>
						<div
							class="server_wrap_center_bottom_div server_wrap_center_bottom_divd">
							<img class="server_wrap_center_bottom_li" src="../img/sp4.png" /><span>知产转让</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="part part3">
				<div class="server_wrap">
					<div class="server_wrap_center">
						<h1><span>项目优势</span></h1>
						<div class="server_wrap_center_bottom server_wrap_center_bottom_s clearFloat server_wrap_center_bottom_three">
							<div class="server_wrap_center_bottom_div server_wrap_center_bottom_div_s clearFloat advantage">
								<div class="advantage1">
									<span class="advantage_span">权威数据</span>
									<p>与国家知识产权局数据同步</p>
								</div>
								<div class="advantage2">
									<span class="advantage_span">实时推送</span>
									<p>变动提醒、动态掌握</p>
								</div>
								<div class="advantage3">
									<span class="advantage_span">全量数据</span>
									<p>专利、商标、版权、状态、费用</p>
								</div>
								<div class="advantage4">
									<span class="advantage_span">知产报告</span>
									<p>为客户提供决策支持</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="part part4">
				<div class="server_wrap">
					<div class="server_wrap_center">
						<h1><span>核心技术</span></h1>
						<div class="hj_center clearFloat">
							<ul>
								<li class="server_wrap_center_bottom_div">
									<p><span class="title">分布式多爬虫</span></p>
									<div class="hj_center_content">
										利用爬虫技术实时抓取客户所需的真实数据,动态更新同步。系统从多个维度和数据源为客户提供数据服务,比如: 知产信息、资讯信息、价值评估信息、交易信息等。
									</div>
								</li>
								<li class="server_wrap_center_bottom_div">
									<p><span class="title" >知产管理系统</span></p>
									<div class="hj_center_content">
										自主研发了一套知识产权管理引擎，能够基于用户位置、使用习惯提供精确的搜索服务，并对托管的知识惊喜精准的动态提醒、自助缴费、交易等等功能。
									</div>
								</li>
								<li class="server_wrap_center_bottom_div">
									<p><span class="title">BI引擎</span></p>
									<div class="hj_center_content">
										利用现代数据仓库技术/线上分析处理技术/数据挖掘和数据展现技术为客户提供人性化的数据分析功能以实现其商业价值和经济价值。
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="part part5">
				<div class="footerNew">
					<ul>
						<li>
				<p>数据来源</p>
				<p>商标局</p>
				<p>版权局</p>
				<p>国家知识产权局</p>
			</li>
			<li>
				<p>关于我们</p>
				<p>了解我们</p>
				<p>加入我们</p>
				<p>关于我们</p>
			</li>
			<li>
				<p class="wei">微信公众号</p>
				<div class="weiImg"></div>
			</li>
			<li>
				<p class="wei">客服微信</p>
				<div class="weiImg weiImgchat"></div>
			</li>
			<li>
				<p>联系我们</p>
				<p class="phone">023-81388765</p>
				<p>客服QQ:<span class="kfqq">3395301248</span></p>
				<p class="time">周一至周五 9:30-16:00</p>
			</li>
					</ul>
					
				</div>
				
			</div>
		</div>
		<div id="slide">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		 <div class="loadingstart"></div> 
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
 <script>
    var aperson = $.cookie('phone');
	if(aperson == ''){
		
	}
	else if(aperson == undefined){
		
	}
	else if(aperson == 'null'){
		
	}
	else if(aperson == null){
		
	}
	else{
		$('#username span').html('');
		$('#username span').html(aperson);
		$('.login_parent').hide();
		$('#username').show();
	}
</script>
    
<script src="../js/index.js"></script>
<script src="../js/common.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../layui/layui.js"></script>
<script src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../js/ThreeWebGL.js"></script>
<script type="text/javascript" src="../js/ThreeExtras.js"></script>
<script type="text/javascript" src="../js/Detector.js"></script>
<script type="text/javascript" src="../js/RequestAnimationFrames.js"></script>

<script id="vs" type="x-shader/x-vertex">
varying vec2 vUv;
void main() {
	vUv = uv;
	gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

}		
</script>
<script id="fs" type="x-shader/x-fragment">
			uniform sampler2D map;
			uniform vec3 fogColor;
			uniform float fogNear;
			uniform float fogFar;
			varying vec2 vUv;
			void main() {
				float depth = gl_FragCoord.z / gl_FragCoord.w;
				float fogFactor = smoothstep( fogNear, fogFar, depth );
				gl_FragColor = texture2D( map, vUv );
				gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
				gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );
			}
</script>
<script type="text/javascript" src="../js/threeyun.js"></script>
<script>
			/**/
			setTimeout(function(){
				$(document).scrollTop(0);
			},50);
			
			
			var $part = $('.part');
			var $li = $('#slide ul li');
			var $img = $('.part img');
			var $advantage1 = $('.part .advantage1');
			var $advantage2 = $('.part .advantage2');
			var $advantage3 = $('.part .advantage3');
			var $advantage4 = $('.part .advantage4');
			//初始化
			(function(){
				$li.eq(0).addClass('on');
				$part.append('<div class="logo"></div>');
//				$part.each(function(i){
//					var str = i!=1?'url(img/'+(i+1)+'.jpg) no-repeat center / cover':'#fff';
//					$(this).css('background' , str);
//				});
			})();
			//页面滚动
			(function(){
				var index = 0;
				var wH = $(window).height();
				var nowTime = new Date();

				$(window).resize(function(){
					wH = $(window).height();
				});
				$li.click(function(){
					index = $(this).index();
					move();
				});
				$(document).mousewheel(function(){
					if ( new Date() - nowTime > 500 )
					{
						nowTime = new Date();
						var d = arguments[1];
						index=d<0?(index>=$li.length-1?0:index+1):(index<=0?$li.length-1:index-1);
						move();
					};
				});
				function move(){
					$part.eq(index).find('.advantage1').removeClass('advantageon');
					$part.eq(index).find('.advantage2').removeClass('advantageon');
					$part.eq(index).find('.advantage3').removeClass('advantageon');
					$part.eq(index).find('.advantage4').removeClass('advantageon');
					$li.eq(index).addClass('on').siblings().removeClass('on');
					$('body,html').animate({
						scrollTop : index*wH
					},500,function(){
						$part.eq(index).find('.server_wrap_center_bottom_div').addClass('on');
						$part.eq(index).siblings().find('.server_wrap_center_bottom_div').removeClass('on');
						$part.eq(index).find('.advantage1').addClass('advantageon');
						$part.eq(index).find('.advantage2').addClass('advantageon');
						$part.eq(index).find('.advantage3').addClass('advantageon');
						$part.eq(index).find('.advantage4').addClass('advantageon');
						$part.eq(index).siblings().find('.advantage1').removeClass('advantageon');
						$part.eq(index).siblings().find('.advantage2').removeClass('advantageon');
						$part.eq(index).siblings().find('.advantage3').removeClass('advantageon');
						$part.eq(index).siblings().find('.advantage4').removeClass('advantageon');
					});
					
				}
			})();
			setTimeout(function(){
				$('.loadingstart').hide();
			},300)
			/**/
</script>
</html>
